public/jasper/data/**/*
!/public/storage
Homestead.yaml
Homestead.json

public/file_upload/**/*
public/file_upload_email/**/*
public/anexos-accionXcliente/**/*
public/expedientes_cliente/**/*
public/Firmas/**/*
public/assets/img/login-bg/**/*

*.zip
*.rar
*.sqlite

!public/assets/img/login-bg/gen-t-recursos-humano.jpg
!public/assets/img/login-bg/GenTLogo.png
.idea
node_modules
