#sidebar{
  overflow: scroll;
}
#sidebar::-webkit-scrollbar{
  padding-right: 30px;
  width: 5px;
  height: 5px;
  background: rgba(195, 195, 195, 0);
  opacity:0.9;
}
#sidebar::-webkit-scrollbar-thumb{
  background: rgb(79, 78, 78);
  border-radius: 5px;
}
